server:
  port: 8080

spring:
  application:
    name: sludge_system
  datasource:
    url: jdbc:mysql://localhost:3306/sludge_nir?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
